Q1. How do you comment code in Python? What are the different types of comments?

Ans. In Python, we can comment code using the '#' symbol for single-line comments or triple quotes ''' or """ for multi-line comments.

Q2. What are variables in Python? How do you declare and assign values to variables?

Ans. Variables are used to store data values. We can think of them as containers for storing information that can be referenced and            manipulated within a program.
     To declare a variable in python, we simply choose a name for the variable and use the assignment operator '=' to assign a value to it .

In [7]:
x=10
name="Muskan"
pi_value=34.5
is_valid=True

print(type(x))
print(type(name))
print(type(pi_value))
print(type(is_valid))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

Q3. How do you convert one data type to another in Python?

Ans. We can convert one data type to another using build-in-function.

In [10]:
num_str="88"
num_int=int(num_str)

num_float=float(num_int)

num_str_again=str(num_float)

bool_str="True"
bool_value=bool(bool_str)

Q4. How do you write and execute a Python script from the command line?

Ans. Open a text editor such as Notepad,Sublime Text, VS Code, etc, to write python script. create a file named script.py and write the python code in it. and then save the file with a .py extension, for example, script.py. Open the terminal in our operating system and use the cd command to navigate to the directory where our python script is located. In the command line type python followed by the name of our python script file and press Enter. This command will run the python script, and we should see the output printed in the command line.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [11]:
my_list=[1,2,3,4,5]
sub_list=my_list[1:3]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Ans. In mathematics, a complex number is a number that can be expressed in the form a+bi, where 'a' and 'b' are real numbers, and i is the imaginary unit satisfying i^2 = -1.Here, 'a' is the real part, and 'bi' is the imaginary part of the complex numbetr.
Complex numbers are represented using the 'complex' data type. They can be created by specifying the real and imaginary parts using the syntax 'a+bj', where 'a' is the real part and 'b' is the imaginary part. Note that 'j' is used to represent the imaginary unit in python, instead of 'i' .

In [19]:
z1=2+3j
z2=complex(4,-5)

print("z1:",z1)
print("z2:",z2)

sum_complex=z1+z2
print("sum:",sum_complex)

z1: (2+3j)
z2: (4-5j)
sum: (6-2j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [22]:
age=25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [24]:
price = 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [25]:
name = "Muskan Singh"
print(name)

Muskan Singh

Q10. Given the string "Hello, World!", extract the substring "World".

In [26]:
s = "Hello, World!"
substring = s[7:12]
print(substring)

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [ ]:
is_student = True
is_student